body {
    font-family: 'Times New Roman', Times, serif;
}

.pembuka {
    font-size: medium;
    float: left;
    width: 33.33%;
    border-style: solid;
}

.isiberita {
    float:inherit;
    width: 50%;
    border-style: solid;
}